@model ServisTakipMVC.MODEL.Musteri

@{
    ViewBag.Title = "Yeni Müşteri";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Müşteri Bilgileri</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post">
                @Html.AntiForgeryToken()
                <div class="box-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="firmaadi">Firma Adı</label>
                        <input type="text" class="form-control" id="firmaadi" name="FirmaAdi" placeholder="Firma adı giriniz">
                        @Html.ValidationMessageFor(model => model.FirmaAdi, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Telefon</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input type="text" class="form-control" name="Telefon" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                            @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->

                    <div class="form-group">
                        <label>Telefon2</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input type="text" class="form-control" name="Telefon2" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                            @Html.ValidationMessageFor(model => model.Telefon2, "", new { @class = "text-danger" })
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->

                    <div class="form-group">
                        <label>Cep Telefonu</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input type="text" class="form-control" name="GsmNo" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                            @Html.ValidationMessageFor(model => model.GsmNo, "", new { @class = "text-danger" })
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->

                    <div class="form-group">
                        <label>Faks</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <input type="text" class="form-control" name="Faks" data-inputmask='"mask": "(999) 999-9999"' data-mask />
                            @Html.ValidationMessageFor(model => model.Faks, "", new { @class = "text-danger" })
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->

                    <div class="form-group">
                        <label for="yetkili">Yetkili</label>
                        <input type="text" class="form-control" id="yetkili" name="Yetkili" placeholder="Yetkili adı giriniz">
                        @Html.ValidationMessageFor(model => model.Yetkili, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="Email" placeholder="Mail adresi giriniz">
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="url">Web Sitesi</label>
                        <input type="url" class="form-control" id="url" name="Url" placeholder="Webi adresi giriniz">
                        @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Adres</label>
                        <textarea class="form-control" rows="3" name="Adres" placeholder="Adres giriniz..."></textarea>
                        @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Not</label>
                        <textarea class="form-control" rows="3" name="Notlar" placeholder=""></textarea>
                        @Html.ValidationMessageFor(model => model.Notlar, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Bayi</label>
                        <select class="form-control" name="BayiId">
                            <option value="0">--Seçiniz--</option>
                            @foreach (var item in ViewBag.Bayiler)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }

                        </select>
                        @Html.ValidationMessageFor(model => model.BayiId, "", new { @class = "text-danger" })
                    </div>

                </div><!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            </form>
        </div><!-- /.box -->      
        <div>
            @Html.ActionLink("Müşteri listesine geri dön", "Index")
        </div>
    </div><!--/.col (left) -->
</div>
