@model ServisTakipMVC.MODEL.Musteri

@{
    ViewBag.Title = "Müşteri Detay";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Müşteri Bilgileri</h3>
            </div><!-- /.box-header -->
            <div class="card-body">
                <div class="form-group">
                    <label for="firmaadi">Firma Adı</label>
                    <input type="text" class="form-control" id="firmaadi" name="FirmaAdi" disabled value="@Html.DisplayFor(model => model.FirmaAdi)">
                </div>

                <div class="form-group">
                    <label>Telefon</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                        <input type="text" class="form-control" name="Telefon" data-inputmask='"mask": "(999) 999-9999"' data-mask disabled value="@Html.DisplayFor(model => model.Telefon)" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label>Telefon2</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-phone"></i></span>
                        </div>
                        <input type="text" class="form-control" name="Telefon2" data-inputmask='"mask": "(999) 999-9999"' data-mask disabled value="@Html.DisplayFor(model => model.Telefon2)" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label>Cep Telefonu</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                        </div>
                        <input type="text" class="form-control" name="GsmNo" data-inputmask='"mask": "(999) 999-9999"' data-mask disabled value="@Html.DisplayFor(model => model.GsmNo)" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label>Faks</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-fax"></i></span>
                        </div>
                        <input type="text" class="form-control" name="Faks" data-inputmask='"mask": "(999) 999-9999"' data-mask disabled value="@Html.DisplayFor(model => model.Faks)" />
                    </div><!-- /.input group -->
                </div><!-- /.form group -->

                <div class="form-group">
                    <label for="yetkili">Yetkili</label>
                    <input type="text" class="form-control" id="yetkili" name="Yetkili" disabled value="@Html.DisplayFor(model => model.Yetkili)">
                </div>


                <div class="form-group">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-at"></i></span>
                        </div>
                        <input type="email" class="form-control" id="exampleInputEmail1" name="Email" disabled value="@Model.Email">
                    </div>

                    <div class="form-group">
                        <label for="url">Web Sitesi</label>
                        <input type="url" class="form-control" id="url" name="Url" disabled value="@Model.Url">
                    </div>

                    <div class="form-group">
                        <label>Adres</label>
                        <textarea class="form-control" rows="3" name="Adres" disabled>@Html.DisplayFor(model => model.Adres)</textarea>
                    </div>

                    <div class="form-group">
                        <label>Not</label>
                        <textarea class="form-control" rows="3" name="Notlar" disabled>@Html.DisplayFor(model => model.Notlar)</textarea>
                    </div>

                    <div class="form-group">
                        <label>Bayi</label>
                        <input type="url" class="form-control" id="bayi" name="BayiId" disabled value="@Html.DisplayFor(model => model.Bayisi.Adi)">
                    </div>

                    <div class="form-group">
                        <label>Kayıt Tarihi</label>
                        <input type="url" class="form-control" id="KayitTarihi" name="KayitTarihi" disabled value="@Html.DisplayFor(model => model.KayitTarihi)">
                    </div>
                </div>
            <div class="card-footer">
                @Html.ActionLink("Düzenle", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Müşteri listesine geri dön", "Index")
            </div>

        </div><!-- /.box-body -->

        

    </div><!-- /.box -->  
</div><!--/.col (left) -->
