@model ServisTakipMVC.MODEL.Musteri

@{
    ViewBag.Title = "Müşteri Düzenle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-md-6">

        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Müşteri Bilgileri</h3>
            </div><!-- /.box-header -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label for="firmaadi">Firma Adı</label>
                        @Html.EditorFor(model => model.FirmaAdi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirmaAdi, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="Telefon">Telefon</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Telefon2, htmlAttributes: new { @class = "control-label col-md-2" })

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-phone"></i></span>
                            </div>
                            @Html.EditorFor(model => model.Telefon2, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Telefon2, "", new { @class = "text-danger" })
                        </div>


                    </div>

                    <div class="form-group">

                        @Html.LabelFor(model => model.GsmNo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                            </div>
                            @Html.EditorFor(model => model.GsmNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GsmNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Faks, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-fax"></i></span>
                            </div>
                            @Html.EditorFor(model => model.Faks, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Faks, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Yetkili, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Yetkili, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Yetkili, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                            </div>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Adres, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextAreaFor(model => model.Adres, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Notlar, htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.TextAreaFor(model => model.Notlar, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Notlar, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Bayi</label>
                        <select class="form-control" name="BayiId">
                            <option value="0">--Seçiniz--</option>
                            @foreach (var item in ViewBag.Bayiler)
                            {
                                <option value="@item.Value" selected="@(Convert.ToInt32(item.Value)==Model.BayiId ? "selected" : "")">@item.Text</option>
                            }

                        </select>
                        @Html.ValidationMessageFor(model => model.BayiId, "", new { @class = "text-danger" })
                    </div>
                    @Html.HiddenFor(model => model.KayitTarihi)
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                        @Html.ActionLink("Listeye Dön", "Index")
                    </div>
                </div>
            }
        </div>


    </div>


</div>