@model ServisTakipMVC.MODEL.ServisForm

@{
    ViewBag.Title = "Servis Formu Düzenle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <!-- general form elements -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Servis Bilgileri</h3>
            </div><!-- /.box-header -->
            <!-- form start -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label>Müşteri</label>
                        @Html.DropDownListFor(model => model.MusteriId, ViewBag.Musteriler as SelectList, "Seçiniz...", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MusteriId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="belgeno">Belge No</label>
                        @Html.EditorFor(model => model.BelgeNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BelgeNo, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Servis Tipi</label>
                        @Html.DropDownListFor(model => model.ServisTipId, ViewBag.ServisTipleri as SelectList, "Seçiniz...", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ServisTipId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Servis İçeriği</label>
                        @Html.DropDownListFor(model => model.ServisIcerikId, ViewBag.ServisIcerikleri as SelectList, "Seçiniz...", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ServisIcerikId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Servis Şekli</label>
                        @Html.DropDownListFor(model => model.ServisSekliId, ViewBag.ServisSekilleri as SelectList, "Seçiniz...", new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.ServisSekliId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Başlangıç Tarihi</label>
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>

                            @Html.EditorFor(model => model.BaslangicTarihi, new { htmlAttributes = new { @class = "form-control datetimepicker-input" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.BaslangicTarihi, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Bitiş Tarihi</label>
                        <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                            <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                <div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
                            </div>
                            @Html.EditorFor(model => model.BitisTarihi, new { htmlAttributes = new { @class = "form-control datetimepicker-input" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.BitisTarihi, "", new { @class = "text-danger" })
                    </div>



                    <div class="form-group">
                        <label>Yapılan İşlemler</label>
                        @Html.TextAreaFor(model => model.YapilanIslemler, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.YapilanIslemler, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Not</label>
                        @Html.TextAreaFor(model => model.Notlar, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Notlar, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Müşteri Ad-Soyad</label>
                        @Html.EditorFor(model => model.MusteriAdi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MusteriAdi, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Bakım Anlaşması</label>
                        @Html.DropDownListFor(model => model.BakimAnlasmaId, ViewBag.BakimAnlasmalari as SelectList, "Seçiniz...", new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.BakimAnlasmaId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Servis Ücreti</label>
                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.ServisUcreti, new { htmlAttributes = new { @class = "form-control" } })

                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.ServisUcreti, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        <label>Para Birimi</label>
                        <select class="form-control" name="ParaBirimi">
                            <option value="">--Seçiniz--</option>
                            <option value="TL" selected="@(Model.ParaBirimi=="TL" ? "selected" : "")">Türk Lirası</option>
                            <option value="$" selected="@(Model.ParaBirimi=="$" ? "selected" : "")">Amerikan Doları</option>
                        </select>
                        @Html.ValidationMessageFor(model => model.ParaBirimi, "", new { @class = "text-danger" })
                    </div>

                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.Odendi, new { htmlAttributes = new { @class = "form-control" } })
                            Ödendi
                        </label>
                    </div>

                </div><!-- /.box-body -->
                @Html.HiddenFor(model => model.KayitTarihi)
                @Html.HiddenFor(model => model.KullaniciId)

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </div>
            }
        </div><!-- /.box -->
        <div>
            @Html.ActionLink("Müşteri listesine geri dön", "Index")
        </div>
    </div>
</div>

@section extraJS
{
    <script>
        $(function () {

            $('#datetimepicker1').datetimepicker({
                format: 'DD.MM.YYYY HH:mm',
                icons: {
                    time: "far fa-clock",
                },
                locale: 'tr'
            });

            $('#datetimepicker2').datetimepicker({
                format: 'DD.MM.YYYY HH:mm',
                icons: {
                    time: "far fa-clock",
                },
                locale: 'tr'
            });
        })
    </script>
}